@import "./reset";
@import "./vars";
@import "./fonts";

html {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 6rem;
  background-color: rgba(255, 255, 255, 0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: $secondary-color;
}

//TEXT STYLES

.renlincode {
  &-big-title {
    font-family: "Russo One", sans-serif;
    font-size: 70rem;
    line-height: 70rem;
    letter-spacing: 1.3rem;
    font-weight: 400;
    @media only screen and (max-width: 650px) {
      font-size: 60rem;
      line-height: 62rem;
    }
  }
  &-title {
    font-family: "Russo One", sans-serif;
    font-size: 54rem;
    line-height: 56rem;
    font-weight: 400;
    @media only screen and (max-width: 650px) {
      font-size: 32rem;
      line-height: 38rem;
    }
  }
  &-subtitle {
    font-size: 27rem;
    line-height: 34rem;
    font-weight: 600;
    @media only screen and (max-width: 650px) {
      font-size: 20rem;
      line-height: 24rem;
    }
  }
  &-text {
    font-size: 22rem;
    line-height: 27rem;
    @media only screen and (max-width: 650px) {
      font-size: 16rem;
      line-height: 24rem;  
    }
  }
  &-small-text {
    font-size: 20rem;
    line-height: 24rem;
    @media only screen and (max-width: 650px) {
      font-size: 14rem;
      line-height: 27rem;  
    }
  }
  &-link {
    color: $yellow-color;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 22rem;
  line-height: 30rem;
  @media only screen and (max-width: 650px) {
    font-size: 16rem;
    line-height: 24rem;  
  }
}

.renlincode-section {
  padding-top:150rem;
  padding-bottom: 150rem;
  @media only screen and (max-width: 650px) {
    padding-top: 60rem;
    padding-bottom: 60rem;
  }
}

.section-title {
  margin-bottom: 104rem;
  letter-spacing: 1.37rem;
  &::before {
    content: "---";
    letter-spacing: -6rem;
    padding-right: 10rem;
    border-radius: 2rem;
  }
  @media only screen and (max-width: 650px) {
    margin-bottom: 30rem;
    &::before {
      display: none;
    }
  }
}

//VISIBILITY
.desktop-hidden {
  @media only screen and (min-width: 650px) {
    display: none !important;
  }
}
.mobile-hidden {
  @media only screen and (max-width: 650px) {
    display: none !important;
  }
}

//LAYOUT
.main-content-wrapper {
  width: 1740rem;
  margin: 0 auto;
  @media only screen and (max-width: 650px) {
    width: 100%;
    padding: 0 12rem;
  }
}

//HOVER EFFECTS
.underline {
  text-decoration: none;
  background-image: linear-gradient($main-color, $main-color);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1rem;
  transition: background-size 300ms ease-in-out !important;
  &:hover {
    background-size: 100% 1rem;
    background-position: 0% 100%;
  }
}
.opacity {
  transition: opacity 300ms ease-in-out !important;
  &:hover {
    opacity: 0.6;
  }
}

.onhover-light {
  transition: all 300ms ease-in-out;
  position: relative;
  overflow: hidden;
  .front-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba($very-black-color, 0.8);
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }
  &:hover {
    box-shadow: 0 0 5rem 3rem $main-color !important;
    .front-layer {
      opacity: 1;
    }
  }
}

//GLOBAL
body {
  background: $black-color;
}
